*{
    margin: 0;
    padding: 0;
}
ul{
    display: inline;
    padding: 60px;
    margin-left: 18%;
}
ul>li{
    display: inline;
}
ul>li>a>img{
    height: 100px;
    width: 100px;
    margin: 5%;
}

.main{
    width: 100%;
	background-color:black;
    color: white;
    font-size: 25px;
    margin-bottom: 5%;
}

.main>h1{
    text-align: center;
}